<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="{{routePrefix}}/gateways/self/checkout/copec/list_cards.min.css">
</head>

<body>
  <h2>
    Seleccione Tarjeta a utilizar
  </h2>
  <div class="credit-card-list">
    <!-- -->
    {{#each cards}}
    <credit-card-item onclick="select(this, '{{card_id}}')">
      <div class="radio-button"></div>
      <div class="card-info">
        <div class="bin {{type}}">
        </div>
        <div class="card-holder">
          <div class="pan">
            <span>{{first_segment}} {{second_segment}}•• •••• {{pan_last_4}}</span>
          </div>
          <div class="name">
            {{card_holder}}
          </div>
        </div>
      </div>
      <!-- 
      <div class="expiration-date">
        <div class="exp-title">
          <span>EXP.</span>
        </div>
        <div>
          <span>11/2018</span>
        </div>
      </div>
      -->
    </credit-card-item>
    {{/each}}
    <!-- -->
  </div>
  <!-- -->
  <footer-bar>
    <footer-amount>
      <div class="amount-title">
        Monto Total:
      </div>
      <div class="amount" data-format="currency">
        {{qp_amount}}
      </div>
    </footer-amount>
    <button class="pay-with-card" disabled id="approve_button">
      <span>
        Seleccione la tarjeta a usar....
      </span>
    </button>
  </footer-bar>
  <!-- -->
  <div style="display:none">
    <form id="form" method="POST" action="">
      <input id="response" type="hidden" name="response" />
    </form>
  </div>
  <!-- BACKDROP LOADING -->
  <loading-backdrop class="hidden">
  </loading-backdrop>
  <loading-container class="hidden">
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling"
      style="background: none;">
      <circle cx="50" cy="50" fill="none" stroke="#30bd36" stroke-width="4" r="30" stroke-dasharray="141.37166941154067 49.12388980384689"
        transform="rotate(329.538 50.0001 50)">
        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="2.1s"
          begin="0s" repeatCount="indefinite"></animateTransform>
      </circle>
    </svg>
  </loading-container>
  <style type="text/css">
    loading-backdrop,
    loading-container {
      position: absolute;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
    }

    loading-backdrop.hidden,
    loading-container.hidden {
      display: none;
      position: absolute;
    }

    loading-backdrop {
      background: #000;
      opacity: 0.8;
    }

    loading-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      align-items: center;
      justify-content: center;
    }

    loading-container>svg {
      width: 5em;
      height: 5em;
    }
  </style>
  <!-- -->
  <script type="text/javascript" src="https://peinau.azureedge.net/scripts/utils.es5.min.js"></script>
  <script type="text/javascript">
    var eResponse = document.getElementById("response");
    var eform = document.getElementById("form");
    var button = qpay.DOM.findBySelector('.pay-with-card');
    var parent = (window.opener || window.top);
    parent.postMessage({
      type: 'command',
      value: 'payment-ready'
    }, "*");

    var executeTransaction = function (message) {
      eResponse.value = JSON.stringify(message);
      eform.action = "execute?access_token={{qp_accessToken}}";
      eform.submit();
    };
    var cancelTransaction = function (message) {
      eResponse.value = JSON.stringify(message);
      eform.action = "reject?access_token={{qp_accessToken}}";
      eform.submit();
    };

    var select = function (elm) {
      var items = document.getElementsByTagName('credit-card-item');
      for (var i in items) {
        var node = items[i];
        window.qpay.DOM.removeClass(node, 'selected');
      }
      qpay.DOM.addClass(elm, 'selected');

      // Enable Button
      button.innerHTML = "Aprobar Pago";
      try { button.removeAttribute("disabled"); } catch (e) { button.setAttribute('disabled', ''); }
    }

    qpay.events.bind(button, 'click', function (elm) {
      // ----------------------------------------------
      var lBackdrop = qpay.DOM.findBySelector('loading-backdrop');
      var lContainer = qpay.DOM.findBySelector('loading-container');

      qpay.DOM.removeClass(lBackdrop, "hidden");
      qpay.DOM.removeClass(lContainer, "hidden");
      // ----------------------------------------------

      executeTransaction({
        dummy: true
      });
    });

    var currencies = window.document.querySelectorAll("[data-format]");
    var locale = "es-CL";
    for (var index = 0; index < currencies.length; index++) {
      var elm = currencies[index];
      var formatting = elm.getAttribute("data-format").toLowerCase();
      switch (formatting) {
        case "currency":
          elm.innerHTML = "$ " + parseInt(elm.innerHTML).toLocaleString(locale);
          break;
        case "number":
          elm.innerHTML = parseInt(elm.innerHTML).toLocaleString(locale);
          break;
      }
    }

  </script>
</body>

</html>