<!DOCTYPE html>
<html>

<body>
    <form id="redirectForm" target="_self" action="{{url}}" method="post">
        <input type="hidden" name="token_ws" value="{{token}}">
    </form>
    <script type="text/javascript">
        (function () {
            document.getElementById('redirectForm').submit();
        })();
    </script>
</body>

</html>