<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <div class="scroll-wrapper">
    <iframe id="quickframe_proxy" frameborder="0" border="0" cellspacing="0" src="{{qp_quickframeUrl}}">
    </iframe>
  </div>

  <div style="display:none">
    <form id="form" method="POST" action="">
      <input id="response" type="hidden" name="response" />
      <input id="redirectTo" type="hidden" name="redirectUrl" />
    </form>
  </div>

  <style type="text/css">
    html,
    html body {
      width: 100%;
      height: 100%;
    }

    html body div.scroll-wrapper {
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }

    html body div.scroll-wrapper iframe {
      height: 100%;
      width: 100%;
    }
  </style>
  <script type="text/javascript">
    var iframe = document.getElementById("quickframe_proxy");
    var eform = document.getElementById("form");
    var eResponse = document.getElementById("response");
    var eRedirectUrl = document.getElementById("redirectTo");
    var iframeLoaded = false;
    var timeout = parseInt("{{qp_timeout}}");
    setTimeout(function () {
      if (!iframeLoaded) {
        //Set a interval to check if success
        cancelTransaction({
          responseCode: 408,
          responseDescription: "timeout error"
        });
      }
    }, timeout);

    var bindEvent = function (element, event, callback) {
      if (element.addEventListener) {
        element.addEventListener(event, callback, false);
      } else if (element.attachEvent) {
        element.attachEvent("on" + event, callback);
      }
    };

    var sendMessage = function (request) {
      iframe.contentWindow.postMessage(request, "*");
    };

    var initTransaction = function () {
      var message = {
        msgType: "{{qp_msgType}}",
        merchant: {
          merchantId: "{{qp_merchantId}}",
          branchId: "{{qp_branchId}}",
          terminalId: "{{qp_terminalId}}",
          timestamp: "{{qp_timestamp}}",
          merchTxnId: "{{qp_merchTxnId}}",
          channel: "{{qp_channel}}",
          signature: "{{{qp_signature}}}"
        },
        merchantCodeDataModel: {
          commerceCode: "{{qp_commerceCode}}",
          terminalCode: "{{qp_terminalCode}}",
          localCode: "{{qp_localCode}}"
        },
        purchaseOrder: {
          purchaseOrderId: "{{qp_merchTxnId}}",
          purchaseOrderDate: "{{qp_timestamp}}"
        },
        currency: "{{qp_currency}}",
        productList: [{
          sku: "SOAP-VI",
          quantity: 1,
          pricePerUnit: 1000,
          totalPrice: 1000,
          description: "Viaje Seguros"
        }],
        guest: true,
        price: {
          withDiscount: {
            amount: "{{qp_amount}}",
            tax: 0,
            total: "{{qp_amount}}"
          },
          withoutDiscount: {
            amount: "{{qp_amount}}",
            tax: 0,
            total: "{{qp_amount}}"
          }
        },
        riskAssessment: {},
        inputQF_captureMode: "Direct Capture",
        inputQF_installmentsOffer: ["1", "2", "3", "4", "5", "6", "7", "8", "10", "12", "15", "18",
          "24", "36"
        ],
        inputQF_defaultInstallmentNumber: "1",
        inputQF_defaultdeferredMonth: "3"
      };

      sendMessage(message);

    };
    var executeTransaction = function (message) {
      eResponse.value = JSON.stringify(message);
      eRedirectUrl.value = "{{qp_returnUrl}}";
      eform.action = "execute?access_token={{qp_accessToken}}";
      eform.submit();
    };
    var cancelTransaction = function (message) {
      eResponse.value = JSON.stringify(message);
      eRedirectUrl.value = "{{qp_cancelUrl}}";
      eform.action = "reject?access_token={{qp_accessToken}}";
      eform.submit();
    };

    bindEvent(iframe, "load", function (e) {
      iframeLoaded = true;
    });

    bindEvent(window, "message", function (rawMessage) {
      if (!"{{qp_quickframeUrl}}".indexOf(rawMessage.origin) == 0) {
        return;
      }
      var response = eval("(" + rawMessage.data + ")");

      if (response.status === 200 && response.message) {
        switch (response.message.msgType) {
          case "BasicNotification":
          case "Notification":
            if (response.message.notificationType === "QuickframeReady") {
              initTransaction();
            }

            //mutate the message to "standarize"
            response.messageType = "notification";
            break;
          default:
            //IF THE RESPONSE CODE IS 0 , MEAN IS SUCCESSFULLY PAYMENT
            var responseCode = parseInt(response.message.responseCode);
            if (responseCode === 0) {
              //SUCCESS PAYMENT
              executeTransaction(response.message);

            } else {
              //ERROR PAYMENT
              cancelTransaction(response.message);
            }
            break;
        }
      }

      //SEND TO ANYONE WHICH WANT TO CONNECT
      window.parent.postMessage(response, "*");
    });
  </script>
</body>

</html>