<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >
  <title></title>
</head>

<body>
  <div class="scroll-wrapper">
    <iframe id="iframe_runner" frameborder="0" border="0" src="{{iframeUrl}}" cellspacing="0" src="">
    </iframe>
  </div>

  <div style="display:none">
    <form id="form" method="POST" action="">
      <input id="response" type="hidden" name="response" />
      <input type="hidden" name="transactionId" value="{{transactionId}}" />
      <input id="redirectTo" type="hidden" name="redirectUrl" />
    </form>
  </div>

  <style type="text/css">
    html,
    html body,
    html body iframe {
      width: 100%;
      height: 100%;
    }

    html body div.scroll-wrapper {
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }

    html body div.scroll-wrapper iframe {
      height: 100%;
      width: 100%;
    }
  </style>
  <script type="text/javascript">
    var eform = document.getElementById("form");
    var eResponse = document.getElementById("response");
    var eRedirectUrl = document.getElementById("redirectTo");

    var executeTransaction = function (message) {
      eResponse.value = JSON.stringify(message);
      eRedirectUrl.value = "{{qp_returnUrl}}";
      eform.action = "execute?access_token={{qp_accessToken}}";
      eform.submit();
    };
    var cancelTransaction = function (message) {
      eResponse.value = JSON.stringify(message);
      eRedirectUrl.value = "{{qp_cancelUrl}}";
      eform.action = "reject?access_token={{qp_accessToken}}";
      eform.submit();
    };

    var bindEvent = function (element, event, callback) {
      if (element.addEventListener) {
        element.addEventListener(event, callback, false);
      } else if (element.attachEvent) {
        element.attachEvent("on" + event, callback);
      }
    };

    bindEvent(window, "message", function (rawMessage) {
      if (!"{{iframeUrl}}".indexOf(rawMessage.origin) == 0) {
        return;
      }
      var response = eval("(" + rawMessage.data + ")");

      switch (response.msgType) {
        case "CardBillResponse":
        case "CardBillPaymentResponse":
          //IF THE RESPONSE CODE IS 0 , MEAN IS SUCCESSFULLY PAYMENT
          var responseCode = parseInt(response.responseCode);

          //ADD THE TRANSACTION ID TO THE MESSAGE
          response.transactionId = "{{transactionId}}";
          if (responseCode === 0) {
            //SUCCESS PAYMENT
            executeTransaction(response);
          } else {
            //ERROR PAYMENT
            cancelTransaction(response);
          }
          break;

      }

      //SEND TO ANYONE WHICH WANT TO CONNECT
      window.parent.postMessage(response, "*");
      console.log(rawMessage);
    });
  </script>
</body>

</html>