<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<title>Quickpay Connect</title>

<body>
  <script type="text/javascript">
    var values = JSON.parse('{{{payment_values}}}');
    values.messageType = "redirect";
    values.type = "command";
    values.value = "payment-state-updated";
    var parent = (window.opener || window.top);
    parent.postMessage(values, "*");

    var cancelRedirect = false;
    window.addEventListener("message", function (e) {
      switch (e.data.type) {
        case "command":
          switch (e.data.value) {
            case "close":
              cancelRedirect = true;
              window.close();
              break;
          }
          break;
      }
    });

    setTimeout(function () {
      if (!cancelRedirect) {
        var fullURL = (function () {
          var fragments = [];
          for (var name in values) {
            fragments.push(name + "=" + values[name]);
          }
          return "{{{payment_redirectionURL}}}#" + fragments.join("&");
        })();
        document.location.href = fullURL;
      }
    }, 80);
  </script>
</body>

</html>