<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <div style="display:none">
    <form id="cmr_form" method="POST" action="{{iframeUrl}}">
      <input type="hidden" name="inXML" value="{{inXML}}" />
    </form>
  </div>
  <script type="text/javascript">
    var form = document.getElementById('cmr_form');
    form.submit();
  </script>
</body>

</html>