<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quickpay Connect</title>
  <link rel="stylesheet" href="{{routePrefix}}/gateways/quickpay/token/styles.min.css">
</head>

<body class="quickpay-connect capture-card">
  <!-- -->
  <div id="capture-container">
    <form action="execute" method="POST" id="execute_form" class="datpayment-form">
      <input type="hidden" name="capture_token" data-type="capture_token">
      <input type="hidden" name="payment_flow" value="express_checkout">
      <!-- -->
      <div class="header">
        <div class="lock-image">
        </div>
        <div class="title">
          <div>
            Compra 100% segura.
            <br /> Protegemos tus datos.
          </div>
        </div>
        <div class="secure-image">
        </div>
      </div>
      <!-- -->
      <div class="body">
        <!-- -->
        <iframe class="embedded" id="capture_frame" src="{{captureUrl.href}}">
        </iframe>
        <!-- -->
        <div class="products">
          {{#each transaction.item_list.items}}
          <div>

            {{#if thumbnail}}
            <img src="{{thumbnail}}"></img>
            {{else}}
            <div>
              <div class="dummy-product-icon">
              </div>
            </div>
            {{/if}}
            <div>
              <div class="name">
                {{name}}
              </div>
              <div class="sku">
                <span>SKU:</span>{{sku}}
              </div>
              <div class="price">
                x
                <span date-format="number">{{quantity}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <!-- -->
        <div class="dpf-input-container">
          <div class="dpf-input-row">
            <label class="dpf-input-label">Número de Cuotas</label>
            <input type="hidden" class="dpf-input" name="installments_number" data-type="installments_number">

            <div class="dpf-input-column">
              <div class="dpf-input-container fake-select">
                <select class="dpf-input" onchange="onChangeInstallments(this)" data-type="installments_selector">
                  <option value="1" selected="true">1 Cuota</option>
                  <option value="2">2 Cuotas</option>
                  <option value="3">3 Cuotas</option>
                  <option value="4">4 Cuotas</option>
                  <option value="5">5 Cuotas</option>
                  <option value="6">6 Cuotas</option>
                  <option value="7">7 Cuotas</option>
                  <option value="8">8 Cuotas</option>
                  <option value="12">12 Cuotas</option>
                  <option value="18">18 Cuotas</option>
                  <option value="24">24 Cuotas</option>
                  <option value="36">36 Cuotas</option>
                </select>
                <label></label>
                <i></i>
              </div>
            </div>
          </div>
        </div>
        <!-- -->
        <div class="totals">
          Total:
          <span data-format="currency">{{transaction.amount.total}}</span>
        </div>
        <!-- -->
        <div class="footer">
          <button type="button" class="button dpf-submit" disabled id="approve_button" onclick="return approve();">
            <span>
              Espere por favor....
            </span>
          </button>
          <button type="button" class="button" onclick="return reject();">
            <span>
              Cancelar
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- -->
  <form action="reject" method="POST" id="reject_form">
    <input type="hidden" name="details" value="cybersource tokenization failed">
  </form>
  <!-- BACKDROP LOADING -->
  <loading-backdrop class="hidden">
  </loading-backdrop>
  <loading-container class="hidden">
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling"
      style="background: none;">
      <circle cx="50" cy="50" fill="none" stroke="#30bd36" stroke-width="4" r="30" stroke-dasharray="141.37166941154067 49.12388980384689"
        transform="rotate(329.538 50.0001 50)">
        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="2.1s"
          begin="0s" repeatCount="indefinite"></animateTransform>
      </circle>
    </svg>
  </loading-container>
  <style type="text/css">
    loading-backdrop,
    loading-container {
      position: absolute;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
    }

    loading-backdrop.hidden,
    loading-container.hidden {
      display: none;
      position: absolute;
    }

    loading-backdrop {
      background: #000;
      opacity: 0.8;
    }

    loading-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      align-items: center;
      justify-content: center;
    }

    loading-container>svg {
      width: 5em;
      height: 5em;
    }
  </style>
  <!-- -->
  <script type="text/javascript" src="{{routePrefix}}/gateways/quickpay/token/utils.min.js"></script>
  <script type="text/javascript">
    var elm_installmentsSelector = qpay.DOM.findBySelector('[data-type="installments_selector"]');
    var capture_token = qpay.DOM.findBySelector('[data-type="capture_token"]');
    var iframe = document.getElementById('capture_frame');

    var showLoading = function () {
      var lBackdrop = qpay.DOM.findBySelector('loading-backdrop');
      var lContainer = qpay.DOM.findBySelector('loading-container');

      qpay.DOM.removeClass(lBackdrop, "hidden");
      qpay.DOM.removeClass(lContainer, "hidden");
    };

    var hideLoading = function () {
      var lBackdrop = qpay.DOM.findBySelector('loading-backdrop');
      var lContainer = qpay.DOM.findBySelector('loading-container');

      qpay.DOM.addClass(lBackdrop, "hidden");
      qpay.DOM.addClass(lContainer, "hidden");
    };

    var approve = function () {
      // ----------------------------------------------
      // VALIDATE AND SET BEFORE SUBMIT
      var installments_number = qpay.DOM.findBySelector('[name="installments_number"]');
      installments_number.value = elm_installmentsSelector.value;
      // ----------------------------------------------
      showLoading();

      // START PROCESS
      sendMessage({
        type: "event",
        name: "CAPTURE_TOKEN",
        data: {}
      });
    };

    var sendMessage = function (message) {
      iframe.contentWindow.postMessage(message, "*");
    }

    var reject = function () {
      var form = document.getElementById("reject_form");
      showLoading();
      form.submit();
    };

    var onChangeInstallments = function (elm) {
      var hasValue = (elm.value !== "");
      if (hasValue) {
        qpay.DOM.addClass(elm, "has-value");
      } else {
        qpay.DOM.removeClass(elm, "has-value");
      }
    };

    var currencies = qpay.DOM.findAllBySelector("[data-format]");
    var locale = "es-CL";
    for (var index = 0; index < currencies.length; index++) {
      var elm = currencies[index];
      var formatting = elm.getAttribute("data-format").toLowerCase();
      switch (formatting) {
        case "currency":
          elm.innerHTML = "$ " + parseInt(elm.innerHTML).toLocaleString(locale);
          break;
        case "number":
          elm.innerHTML = parseInt(elm.innerHTML).toLocaleString(locale);
          break;
      }
    }

    var logger = function () { };

    // WAIT FOR THE CAPTURE READY
    qpay.events.bind(window, "message", function (rawMessage) {
      var message = rawMessage.data;
      if (message && message.type === "event") {
        switch (message.name) {
          case "CAPTURE_READY":
            // ENABLE BUTTON
            var button = document.getElementById("approve_button");
            button.innerHTML = "Aprobar Pago";
            // IOS fix
            try { button.removeAttribute("disabled"); } catch (e) { button.setAttribute('disabled', ''); }
            break;
          case "CAPTURE_INVALID_DATA":
            // The capture cant submit because the validation data is invalid
            setTimeout(function () {
              hideLoading();
            }, 250)
            break;
        }
      }
      
      if (message.messageType == "redirect") {
        // STOP REDIRECTION
        sendMessage({
          type: "command",
          value: "cancel_redirect"
        }, "*");

        if (message.capture_state == "capture_captured") {
          capture_token.value = message.capture_id;
          var form = document.getElementById("execute_form");
          form.submit();
        } else {
          var form = document.getElementById("reject_form");
          form.submit();
        }

      }
    });

  </script>
</body>

</html>