html,
html body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

    h2 {
      padding: 16px 0px 0px 16px;
      text-align: center;
      margin: 0px;
      font-size: 1.4em;
      font-weight: 300;
    }
    .credit-card-list {
      padding: 16px;
      padding-bottom: 8em;
      credit-card-item {
        padding: 8px 8px;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        margin-bottom: 6px;
        background-color: #faf8fb;
        min-height: 3em;
        display: flex;
        align-items: center;
        flex-direction: row;

        > .radio-button {
          flex-grow: 0;
          background-image: url(https://peinau.azureedge.net/images/green-radio-button-150x150.png);
          height: 2em;
          width: 2em;
          min-width: 2em;
          max-width: 2em;
          background-position: bottom right;
          background-size: 4em;
          background-color: #fff;
          border-radius: 50%;
        }
        > .card-info {
          width: 66%;
          flex-grow: 1;
          > .bin {
            float: left;
            margin: 0px 9px;
            height: 2em;
            width: 2em;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            &.mastercard {
              background-image: url(https://peinau.azureedge.net/images/mastercard-64px.png);
            }
            &.visa {
              background-image: url(https://peinau.azureedge.net/images/visa-64px.png);
            }
            &.express {
              background-image: url(https://peinau.azureedge.net/images/american-express-64px.png);
            }
          }
          > .card-holder {
            padding: 0px 8px 0px 12px;
            width: auto;
            > div {
              &.name {
                min-width: 0px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 0.8em;
                font-weight: 400;
              }
              &.pan {
                > span {
                  font-size: 0.9em;
                  
                }
              }
            }
          }
        }
        > .expiration-date {
          padding: 0px 8px;
          flex-grow: 0;
          text-align: right;
          font-size: 0.8em;
          opacity: 0.6;
          font-weight: 400;
          .exp-title{
            padding-bottom: 3px;
          }
        }
      }

      credit-card-item.selected {
        border-color: #6ebd12;
        background-color: #FFF;
        outline-color: #90c827;
        outline-style:auto;
        outline-offset: -3px;
        outline-width: 3px;
        > .radio-button {
          background-position: 0 0;
          opacity: 1;
        }
      }
    }

    footer-bar{
      background-color: #FFF;
      position:fixed;
      left:0px;
      bottom:0px;
      right:0px;
      height: 6em;
      padding: 8px;
      box-shadow: 0px -4px 13px #e2e2e2;
      border-top: 1px solid #d6d6d6;

      > footer-amount {
        padding: 0px 2px;
        display: flex;
        align-items: baseline;
        height: 3em;
        border-bottom: 1px solid #d6d6d6;
        > .amount-title {
          flex-grow: 1;
          font-size: 1em;
          text-align: right;
          padding-right: 16px;
          padding-top: 14px;
          opacity: 0.8;
        }
        > .amount {
          flex-grow: 0;
          font-size: 1.5em;
          font-weight: 400;
        }
      }

      > button {
        width: 100%;
        background: #90c826;
        border: none;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 300;
        padding: 13px 12px;
        color: #FFF;
        border-radius: 4px;

        &[disabled] {  
          background-color: #c3c3c3;
        }
      }
    }
}

