html,
html body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html h2,
html body h2 {
  padding: 16px 0px 0px 16px;
  text-align: center;
  margin: 0px;
  font-size: 1.4em;
  font-weight: 300;
}

html .credit-card-list,
html body .credit-card-list {
  padding: 16px;
  padding-bottom: 8em;
}

html .credit-card-list credit-card-item,
html body .credit-card-list credit-card-item {
  padding: 8px 8px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin-bottom: 6px;
  background-color: #faf8fb;
  min-height: 3em;
  display: flex;
  align-items: center;
  flex-direction: row;
}

html .credit-card-list credit-card-item > .radio-button,
html body .credit-card-list credit-card-item > .radio-button {
  flex-grow: 0;
  background-image: url(https://peinau.azureedge.net/images/green-radio-button-150x150.png);
  height: 2em;
  width: 2em;
  min-width: 2em;
  max-width: 2em;
  background-position: bottom right;
  background-size: 4em;
  background-color: #fff;
  border-radius: 50%;
}

html .credit-card-list credit-card-item > .card-info,
html body .credit-card-list credit-card-item > .card-info {
  width: 66%;
  flex-grow: 1;
}

html .credit-card-list credit-card-item > .card-info > .bin,
html body .credit-card-list credit-card-item > .card-info > .bin {
  float: left;
  margin: 0px 9px;
  height: 2em;
  width: 2em;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

html .credit-card-list credit-card-item > .card-info > .bin.mastercard,
html body .credit-card-list credit-card-item > .card-info > .bin.mastercard {
  background-image: url(https://peinau.azureedge.net/images/mastercard-64px.png);
}

html .credit-card-list credit-card-item > .card-info > .bin.visa,
html body .credit-card-list credit-card-item > .card-info > .bin.visa {
  background-image: url(https://peinau.azureedge.net/images/visa-64px.png);
}

html .credit-card-list credit-card-item > .card-info > .bin.express,
html body .credit-card-list credit-card-item > .card-info > .bin.express {
  background-image: url(https://peinau.azureedge.net/images/american-express-64px.png);
}

html .credit-card-list credit-card-item > .card-info > .card-holder,
html body .credit-card-list credit-card-item > .card-info > .card-holder {
  padding: 0px 8px 0px 12px;
  width: auto;
}

html .credit-card-list credit-card-item > .card-info > .card-holder > div.name,
html body .credit-card-list credit-card-item > .card-info > .card-holder > div.name {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
  font-weight: 400;
}

html .credit-card-list credit-card-item > .card-info > .card-holder > div.pan > span,
html body .credit-card-list credit-card-item > .card-info > .card-holder > div.pan > span {
  font-size: 0.9em;
}

html .credit-card-list credit-card-item > .expiration-date,
html body .credit-card-list credit-card-item > .expiration-date {
  padding: 0px 8px;
  flex-grow: 0;
  text-align: right;
  font-size: 0.8em;
  opacity: 0.6;
  font-weight: 400;
}

html .credit-card-list credit-card-item > .expiration-date .exp-title,
html body .credit-card-list credit-card-item > .expiration-date .exp-title {
  padding-bottom: 3px;
}

html .credit-card-list credit-card-item.selected,
html body .credit-card-list credit-card-item.selected {
  border-color: #6ebd12;
  background-color: #FFF;
  outline-color: #90c827;
  outline-style: auto;
  outline-offset: -3px;
  outline-width: 3px;
}

html .credit-card-list credit-card-item.selected > .radio-button,
html body .credit-card-list credit-card-item.selected > .radio-button {
  background-position: 0 0;
  opacity: 1;
}

html footer-bar,
html body footer-bar {
  background-color: #FFF;
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 6em;
  padding: 8px;
  box-shadow: 0px -4px 13px #e2e2e2;
  border-top: 1px solid #d6d6d6;
}

html footer-bar > footer-amount,
html body footer-bar > footer-amount {
  padding: 0px 2px;
  display: flex;
  align-items: baseline;
  height: 3em;
  border-bottom: 1px solid #d6d6d6;
}

html footer-bar > footer-amount > .amount-title,
html body footer-bar > footer-amount > .amount-title {
  flex-grow: 1;
  font-size: 1em;
  text-align: right;
  padding-right: 16px;
  padding-top: 14px;
  opacity: 0.8;
}

html footer-bar > footer-amount > .amount,
html body footer-bar > footer-amount > .amount {
  flex-grow: 0;
  font-size: 1.5em;
  font-weight: 400;
}

html footer-bar > button,
html body footer-bar > button {
  width: 100%;
  background: #90c826;
  border: none;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 300;
  padding: 13px 12px;
  color: #FFF;
  border-radius: 4px;
}

html footer-bar > button[disabled],
html body footer-bar > button[disabled] {
  background-color: #c3c3c3;
}
